<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

</head>

<h1>{{ .Title }}</h1>

<table id="fancyTable" class="display">
    <thead>
        <th>Title</th>
        <th>Keywords</th>
    </thead>

    <tbody>
        {{ range $key, $value := .News}}
        <tr>
            <td><a href="{{$value.Location}}" target="_blank">{{$key}}</a></td>
            <td>{{$value.Keyword}}</td>
        </tr>
        {{ end}}
    </tbody>
</table>


<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function() {
        $('#fancyTable').DataTable();
    } );
</script>